body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    background-color: #6b6b6b;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
   
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    padding: 20px;
}
.content{
    background-color: #1f3f7a;
    padding: 20px;
    border-radius: 3px;
    color: white;
}
footer{
    background-color: rgb(22, 22, 22);
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    width: 100%;
}
.foto{
    width: 100px;
    height: auto;
    position: absolute;
    right: 20px;
    top: 0px;
}